config.version=6


profile1.name=filesystem
profile1.schedule.mode=20
profile1.schedule.time=100
profile1.snapshots.backup_on_restore.enabled=true
profile1.snapshots.continue_on_errors=false
profile1.snapshots.dont_remove_named_snapshots=true
profile1.snapshots.exclude.1.value=.gvfs
profile1.snapshots.exclude.2.value=.cache*
profile1.snapshots.exclude.3.value=[Cc]ache*
profile1.snapshots.exclude.4.value=.thumbnails*
profile1.snapshots.exclude.5.value=[Tt]rash*
profile1.snapshots.exclude.6.value=*.backup*
profile1.snapshots.exclude.7.value=*~
profile1.snapshots.exclude.8.value=/root/Ubuntu One
profile1.snapshots.exclude.9.value=.dropbox*
profile1.snapshots.exclude.10.value=.*/.shepherd*
profile1.snapshots.exclude.11.value=/data/shared/Not Backed-Up
profile1.snapshots.exclude.12.value=.git
profile1.snapshots.exclude.13.value=workspace/.*/venv/
profile1.snapshots.exclude.size=13
profile1.snapshots.full_rsync=false
profile1.snapshots.include.1.type=0
profile1.snapshots.include.1.value=/myth/disk1/videos/home_movies
profile1.snapshots.include.2.type=0
profile1.snapshots.include.2.value=/myth/disk1/photos
profile1.snapshots.include.3.type=0
profile1.snapshots.include.3.value=/home
profile1.snapshots.include.4.type=0
profile1.snapshots.include.4.value=/data/shared
profile1.snapshots.include.5.type=0
profile1.snapshots.include.5.value=/etc
profile1.snapshots.include.6.type=0
profile1.snapshots.include.6.value=/data/homes
profile1.snapshots.include.7.type=0
profile1.snapshots.include.7.value=/root
profile1.snapshots.include.size=7
profile1.snapshots.min_free_space.enabled=true
profile1.snapshots.min_free_space.unit=20
profile1.snapshots.min_free_space.value=2
profile1.snapshots.mode=local
profile1.snapshots.path=/mnt/backupBenchmill
profile1.snapshots.path.host=server1
profile1.snapshots.path.profile=files
profile1.snapshots.path.user=root
profile1.snapshots.remove_old_snapshots.enabled=true
profile1.snapshots.remove_old_snapshots.unit=80
profile1.snapshots.remove_old_snapshots.value=10
profile1.snapshots.smart_remove=true
profile1.snapshots.smart_remove.keep_all=2
profile1.snapshots.smart_remove.keep_one_per_day=7
profile1.snapshots.smart_remove.keep_one_per_month=12
profile1.snapshots.smart_remove.keep_one_per_week=4
profile1.snapshots.use_checksum=false
profile1.snapshots.user_backup.ionice=false


profile2.name=databases
profile2.schedule.mode=20
profile2.schedule.time=200
profile2.snapshots.backup_on_restore.enabled=true
profile2.snapshots.continue_on_errors=false
profile2.snapshots.dont_remove_named_snapshots=true
profile2.snapshots.exclude.size=0
profile2.snapshots.full_rsync=false
profile2.snapshots.include.1.type=0
profile2.snapshots.include.1.value=/dev/shm/db_exports
profile2.snapshots.include.size=1
profile2.snapshots.min_free_space.enabled=true
profile2.snapshots.min_free_space.unit=20
profile2.snapshots.min_free_space.value=5
profile2.snapshots.mode=local
profile2.snapshots.path=/mnt/backupBenchmill
profile2.snapshots.path.host=server1
profile2.snapshots.path.profile=db
profile2.snapshots.path.user=root
profile2.snapshots.remove_old_snapshots.enabled=true
profile2.snapshots.remove_old_snapshots.unit=80
profile2.snapshots.remove_old_snapshots.value=10
profile2.snapshots.smart_remove=true
profile2.snapshots.smart_remove.keep_all=2
profile2.snapshots.smart_remove.keep_one_per_day=7
profile2.snapshots.smart_remove.keep_one_per_month=3
profile2.snapshots.smart_remove.keep_one_per_week=4
profile2.snapshots.use_checksum=false
profile2.snapshots.user_backup.ionice=false


profile3.name=containers
profile3.schedule.mode=30
profile3.schedule.time=300
profile3.schedule.weekday=7
profile3.snapshots.backup_on_restore.enabled=true
profile3.snapshots.continue_on_errors=false
profile3.snapshots.dont_remove_named_snapshots=true
profile3.snapshots.exclude.size=0
profile3.snapshots.full_rsync=false
profile3.snapshots.include.1.type=0
profile3.snapshots.include.1.value=/tmp/bit-exports/lxd
profile3.snapshots.include.size=1
profile3.snapshots.min_free_space.enabled=true
profile3.snapshots.min_free_space.unit=20
profile3.snapshots.min_free_space.value=50
profile3.snapshots.mode=local
profile3.snapshots.path=/mnt/backupBenchmill
profile3.snapshots.path.host=server1
profile3.snapshots.path.profile=lxd
profile3.snapshots.path.user=root
profile3.snapshots.remove_old_snapshots.enabled=true
profile3.snapshots.remove_old_snapshots.unit=80
profile3.snapshots.remove_old_snapshots.value=10
profile3.snapshots.smart_remove=true
profile3.snapshots.smart_remove.keep_all=2
profile3.snapshots.smart_remove.keep_one_per_day=7
profile3.snapshots.smart_remove.keep_one_per_month=2
profile3.snapshots.smart_remove.keep_one_per_week=4
profile3.snapshots.use_checksum=false
profile3.snapshots.user_backup.ionice=false


profiles=1:2:3
profiles.version=1
